/* ===== Variables ===== */
:root {
    --primary-color: #EE4D2D;
    --primary-color-trans: rgba(0, 0, 0, 0.1);
    --light-text: #FFFFFF;
    --dark-text: #333333;
    --hover: rgba(238, 238, 238, 0.7);
    --border: #D3D3D3;

    /*===== App palette =====*/
    --light-orange-bg: #FE6433;
    --light-orange: rgba(251, 87, 54, 0.1);
    --light-grey: #898B8A;
    --dark-grey: #777777;
    --golden-color: #FFCE3E;

}


* {
    box-sizing: inherit;
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;  /* ~ 10px */
    line-height: 1.6rem;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.btn {

}

.btn--primary {

}

/*===== Responsive =====*/
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/*===== Animation =====*/
@keyframes fadeIN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}