:root {
    /* ===== Variables ===== */
    --nav-height: 34px;
    --header-height: 120px;
    --header-search-bar: calc(var(--header-height) - var(--nav-height));

    /* ===== Basic color ===== */
    --primary-color: #ee4d2d;
    --primary-color-trans: rgba(0, 0, 0, 0.1);
    --light: #ffffff;
    --dark: #535353;
    --hover: rgba(238, 238, 238, 0.8);
    --light-hover: #f9f9f9;
    --border: rgba(191, 191, 191, 0.6);

    /*===== App palette =====*/
    --light-orange-bg: #fe6433;
    --light-orange: rgba(251, 87, 54, 0.1);
    --light-grey: #dedede;
    --dark-grey: #909090;
    --golden-color: #ffce3e;
}

* {
    box-sizing: inherit;
    list-style: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Open Sans", sans-serif; */
    font-size: 62.5%; /* ~ 10px */
    line-height: 1.6rem;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 142px;
    height: 35px;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark-text);
    cursor: pointer;
    background-color: var(--light);
}

.btn.btn--normal {
    border: var(--border) solid 1px;
    box-shadow: 1.5px 1.5px 3px var(--hover);
}

.btn.btn-s {
    padding: 0 8px;
    height: 32px;
    font-size: 1.2rem;
}

.btn.btn--primary {
    color: var(--light);
    background-color: var(--primary-color);
}

.btn.btn--primary:hover {
    background-color: var(--light-orange-bg);
}

.btn.btn--disabled {
    cursor: default;
    filter: contrast(40%);
}

/* ===== Selection ===== */
.sort-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 34px;
    min-width: 200px;
    min-height: 35px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--light);
}

.sort-select:hover .sort-select__list {
    display: block;
}

.sort-select__label {
    font-size: 1.3rem;
}

.sort-select > i {
    font-size: 1.3rem;
    color: var(--dark-grey);
}

.sort-select__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    border-radius: 2px;
    background-color: var(--light);
    padding: 6px 16px;
}

.sort-select__item {
    font-size: 1.3rem;
    color: var(--dark);
    padding: 8px 0;
}

.sort-select__item:hover {
    color: var(--primary-color);
}

.sort-select__link {
}

/* ==== Modal ==== */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIN linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__wrap {
    --scale-from: 0.7;
    --scale-to: 1;
    margin: auto;
    background-color: var(--light);
    border-radius: 4px;
    z-index: 1;
    animation: scales linear 0.1s;
}

/*===== Responsive =====*/
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-left {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100% / 12) * 2);
}

.grid__column-right {
    padding-left: 12px;
    padding-right: 12px;
    width: calc((100% / 12) * 10);
}

/*===== Animation =====*/
@keyframes fadeIN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scales {
    from {
        transform: scale(var(--scale-from));
    }
    to {
        transform: scale(var(--scale-to));
    }
}

@keyframes trans {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
