/* ===== Main ===== */
.header {
    height: 12rem;
    background-image: linear-gradient(var(--primary-color), var(--light-orange-bg));
}

.head__navbar {
    display: flex;
    justify-content: space-between;
}

.head__list-items {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    
}

.head__nav-item {
    margin: 0 8px;
    position: relative;
    min-height: 28px;
}

.head__nav-item {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--light-text);
    cursor: pointer;
}

.head__nav-item-bold {
    font-weight: 500;
}

.head__nav-item:hover {
    color: var(--hover);
}

.head__nav-item-span::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--light-text);
    height: 14px;
    top: 50%;
    left: -9px;
    transform: translateY(-50%);
}

.head__nav-item > i {
    font-size: 1.8rem;
    margin-right: 5px;
}

.head__nav-item-icon { 
    margin:  0 6px;
    font-size: 1.8rem;
}

.head__nav-item-no-pointer:hover {
    cursor: text;
    color: var(--light-text);
}

/* ===== QR code ===== */
.head__nav-qr:hover .head__qr {
    display: block;
}

.head__qr {
    display: none;
    background-color: var(--light-text);
    width: 200px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIN ease-in-out 0.3s;
}

.head__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
}
.head__qr-img {
    width: 100%;
}

.head__qr-download {
    display: flex;
    align-items: center;
    margin: 2px 5px;
}

.head__qr-store {
    height: 17px;
    margin: auto;
}

/* ===== Noti ===== */
.head__nav-item-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    bottom: -20px;
}

.head__nav-item:hover .head__nav-item-link ~ .head__noti-board {
    display: block;
    transform-origin: calc(100% - 20px) 0;
    animation: notiTrans ease-in 0.2s;
    -webkit-animation: notiTrans ease-in 0.2s;
    -moz-animation: notiTrans ease-in 0.2s;
    -o-animation: notiTrans ease-in 0.2s;
    -ms-zoom-animation: notiTrans ease-in 0.2s;
    will-change: opacity, transform;
}

.head__noti-board {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    background-color: var(--light-text);
    color: var(--dark-text);
    border: var(--border) solid 1px;
    margin-top: 5px;
}

.head__noti-board::before {
    content: "";
    border-style: solid;
    border-width: 8px 12px;
    border-color: transparent transparent var(--light-text) transparent;
    position: absolute;
    right: 12px;
    top: -16px;
}

.head__noti-header {
    height: 40px;
    background-color: var(--light-text);
    cursor: default;
}

.head__noti-header h3 {
    margin: 0 0 0 12px;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--dark-grey);
    line-height: 40px;
}

.head__noti-list {
    padding-left: 0;
}

.head__noti-item {
    background-color: var(--light-orange);
}

.head__noti-item:hover {
    background-color: var(--primary-color-trans);
}

.head__noti-item-link {
    display: flex;
    padding: 12px;
}

.hea__noti-item-img {
    width: 48px;
    border-radius: 10px;
}

.head__noti-info {  
    margin-left: 12px;
}

.head__noti-title {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
}

.head__noti-desc {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.head__noti-footer {
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.3rem;
}

@keyframes notiTrans {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* ==== Modal ==== */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__wrap {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: var(--light-text);
    border-radius: 4px;
    z-index: 1;
}

.modal__inner {

}
