/* ===== Main ===== */
.header {
    height: 12rem;
    background-image: linear-gradient(var(--dark-orange), var(--light-orange));
}

.head__navbar {
    display: flex;
    justify-content: space-between;
}

.head__list-items {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    
}

.head__nav-item {
    margin: 0 8px;
    position: relative;
    min-height: 28px;
}

.head__nav-item-link, 
.head__nav-item {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--light-text);
    font-weight: 300;
    cursor: pointer;
}

.head__nav-item-bold {
    font-weight: 500;
}

.head__nav-item:hover {
    color: var(--light-grey);
}

.head__nav-item-span::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--light-prim);
    height: 14px;
    top: 50%;
    left: -9px;
    transform: translateY(-50%);
}

.head__nav-item > i {
    font-size: 1.8rem;
    margin-right: 5px;
}

.head__nav-item-icon { 
    margin:  0 6px;
    font-size: 1.8rem;
}

.head__nav-item-no-pointer:hover {
    cursor: text;
    color: var(--light-text);
}

/* ===== QR code ===== */
.head__nav-qr:hover .head__qr {
    display: block;
}

.head__qr {
    display: none;
    background-color: var(--light-text);
    width: 200px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIN ease-in-out 0.3s;
}

.head__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
}
.head__qr-img {
    width: 100%;
}

.head__qr-download {
    display: flex;
    align-items: center;
    margin: 2px 5px;
}

.head__qr-store {
    height: 17px;
    margin: auto;
}


