/* Smartphones & iPads----------- */
@media only screen and (max-width: 63.9375em) {
    /* Styles */
    :root {
        /* ===== Variables ===== */
        --nav-height: 0px;
        --header-height: 68px;
    }

    .hide-on-mb-tb {
        display: none;
    }
    
    .header {
        position: fixed;
        z-index: 5;
        width: 100%;
        top: 0;
    }

    .container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .head__cart {
        width: 80px;
        text-align: right;
    }

    .head__cart-noti {
        text-align: center;
    }

    .head__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .head__cart-list::after {
        display: none;
    }

    .head__sort-bar {
        display: flex;
    }

}

/* Smartphones ----------- */
@media only screen and (min-width: 20em) and (max-width: 30em) {
    /* Styles */
    .hide-on-mb {
        display: none;
    }
}

/* iPads ----------- */
@media only screen and (min-width: 48em) and (max-width: 64em) {
    /* Styles */
    .hide-on-tb {
        display: none;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 76.5em) {
    /* Styles */
}
